body {
  background-color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 3.5em;
  text-align: center;
}

.boardCells {
  display: inline-block;
  font-size: 2.5em;
  padding: 5px 10px 5px 10px;
  border: solid #000000;
  width: 40px;
  margin: 2px;
  background-color: #adada7;
}
.boardCells.highlight {
  background-color: yellow;
}

#button-container {
  margin: 0 0 20px 0;
}
